.container1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    position: relative;
    top: -7rem;
}
.input {
    border-radius: 5px;
    border: .5px solid black;
    color: rgb(15, 15, 15);
    background: rgb(225, 236, 236);
    width: 400px;
    height: 50px;
    padding: 8px 16px;
    font-size: 32px;
}
.button {
   border: none;
   background: black;
   color: white;
   font-size: 20px;
   border-radius: 16px;
   padding: 8px 16px;
}